In [ ]:
# Practical_1: Variables and Assignments

## Exercise 1: daclare a valiable x and assign it the value '10'

In [133]:
x = 10
x

10

## Exercise 2: Assign the value True to a variable called is_valid.

In [3]:
is_valid = True
is_valid

True

## Exercise 3: Create a string variable name with the value "Python Programming".

In [7]:
name = "Python Programming"
print(name)

Python Programming

## Exercise 4: Assign the result of 5 + 3 to a variable sum_result.m

In [11]:
sum_result = 5 + 3
sum_result

8

## Exercise 5: Assign multiple variables in one line: a = 5, b = 10, c = 15.

In [157]:
a, b, c = 5, 10, 15
print(a,b,c)

5 10 15

## Exercise 6: Assign the value of one variable x to another variable y.

In [17]:
x = 50
y = x
y

50

## Exercise 7: Assign a floating-point number 9.8 to a variable gravity

In [19]:
gravity = 9.8
gravity

9.8

## Exercise 8: Create a variable country and assign it the string value of your favorite country.

In [21]:
country = "Rwanda"
print(country)

Rwanda

## Exercise 9: Change the value of variable age from 25 to 26 in two separate steps.

In [25]:
age = 25
age = 26
age

26

## Exercise 10: Use one variable to store the result of subtracting two numbers 20 - 7.

In [27]:
difference = 20 - 7
difference

13

## Exercise 11: Assign an integer value and a floating-point value to two different variables

In [29]:
my_integer = 100
my_float = 10.5
print(my_integer)
print(my_float)

100
10.5

## Exercise 12: Assign a boolean value False to a variable is_completed.

In [31]:
is_completed = False
is_completed

False

## Exercise 13: Swap the values of two variables x and y.

In [37]:
x = 5
y = 10
x, y = y, x
print(x)
print(y)

10
5

## Exercise 14: Assign a complex number 3 + 4j to a variable complex_num.

In [39]:
complex_num = 3 + 4j
complex_num

(3+4j)

## Exercise 15: Reassign a variable from an integer to a string.

In [41]:
value = 42
value = "forty-two"
value

'forty-two'

## Exercise 16: Create two variables first_name and last_name, and assign them your first and last names.

In [43]:
first_name = "Consolee"
last_name = "Musanabera"
print(first_name,last_name)

Consolee Musanabera

## Exercise 17: Create a variable temperature and assign it the value of 35.5.

In [47]:
temperature = 35.5
temperature

35.5

## Exercise 18: Assign the result of the multiplication of two numbers 8 * 6 to a variable product.

In [49]:
product = 8 * 6
product

48

## Exercise 19: Assign a sentence of your choice to a variable sentence.

In [51]:
sentence = "Python is fun and powerful."
print(sentence)

Python is fun and powerful.


## Exercise 20: Use an assignment to convert a string '50' into an integer variable int_value.

In [53]:
int_value = int('50')
int_value

50

## Exercise 21: Assign the result of dividing 144 by 12 to a variable quotient.

In [55]:
quotient = 144 / 12
quotient

12.0

## Exercise 22: Assign the remainder of 47 divided by 5 to a variable remainder.

In [59]:
remainder = 47 % 5
remainder

2

## Exercise 23: Create a variable is_student and assign it the value True.

In [63]:
is_student = True
is_student

True

## Exercise 24: Use a variable to store the result of a modulo operation: 45 % 4.

In [179]:
modulo_result = 45 % 4
modulo_result

1

## Exercise 25: Create a variable pi and assign it the value 3.14159.

In [69]:
pi = 3.14159
pi

3.14159

## Exercise 26: Create two variables length and width, assign them values, and calculate the area of a rectangle.

In [71]:
length = 10
width = 5
area = length * width
area

50

## Exercise 27: Assign a negative number to a variable negative_value.

In [73]:
negative_value = -25
negative_value

-25

## Exercise 28: Assign a string containing a special character (e.g., "Hello, World!") to a variable greeting.

In [75]:
greeting = "Hello, World!"
print(greeting)

Hello, World!

## Exercise 29: Create a variable population and assign it a large integer value (in billions).

In [77]:
population = 8000000000 #8 billions
population

8000000000

## Exercise 30: Use a variable to store the result of raising 2 to the power of 8.

In [79]:
power_result = 2 ** 8
power_result

256

## Exercise 31: Assign a list of your favorite fruits to a variable fruits.

In [83]:
fruits = ["mango", "banana", "pineapple"]
print(fruitsa)

['mango', 'banana', 'pineapple']

## Exercise 32: Assign a tuple of three numbers to a variable coordinates.

In [85]:
coordinates = (1, 2, 3)
coordinates

(1, 2, 3)

## Exercise 33: Assign a dictionary with keys name and age to a variable person.

In [87]:
person = {"name": "Consolee", "age": 22}
print(person)

{'name': 'Consolee', 'age': 22}

## Exercise 34: Use variables to store the sum of two floating-point numbers.

In [89]:
num1 = 3.2
num2 = 4.3
sum_float = num1 + num2
sum_float

7.5

## Exercise 35: Create a variable is_sunny and assign it the result of a comparison 10 > 5.

In [91]:
is_sunny = 10 > 5
is_sunny

True

## Exercise 36: Assign a string and an integer to two different variables, then print both on one line.

In [93]:
text = "Age:"
number = 23
print(text, number)

Age: 23

## Exercise 37: Reassign a variable that originally held a number to a boolean value.

In [95]:
data = 100
data = True
data

True

## Exercise 38: Create a variable is_weekend and assign it the result of False.

In [97]:
is_weekend = False
is_weekend

False

## Exercise 39: Assign a multi-line string to a variable description

In [99]:
description = """This is a multi-line string.
It spans across multiple lines.
Python is amazing."""
print(description)

This is a multi-line string.
It spans across multiple lines.
Python is amazing.

## Exercise 40: Use variables to store the result of the absolute value of -25.

In [101]:
abs_value = abs(-25)
abs_value

25

## Exercise 41: Assign the result of a floor division 100 // 6 to a variable floor_div_result.

In [103]:
floor_div_result = 100 // 6
floor_div_result

16

## Exercise 42: Assign the result of adding a floating-point number to an integer to a variable mixed_sum.

In [105]:
mixed_sum = 7 + 2.5
mixed_sum

9.5

## Exercise 43: Use variables to store a combination of string concatenation.

In [131]:
greeting = "Hello"
name = "Consolee"
full_greeting = greeting + " " + name
print(full_greeting)

Hello Consolee

## Exercise 44: Assign an empty list to a variable empty_list.

In [109]:
empty_list = []
empty_list

[]

## Exercise 45: Assign a boolean value based on the comparison of two variables a = 10 and b = 15.

In [111]:
a = 10
b = 15
comparison = a < b
comparison

True

## Exercise 46: Assign a long sentence to a variable and count its characters using len().

In [113]:
long_sentence = "This is a long sentence for counting characters."
length_of_sentence = len(long_sentence)
length_of_sentence

48

## Exercise 47: Assign a fractional result 7 / 3 to a variable division_result.

In [117]:
division_result = 7 / 3
division_result

2.3333333333333335

## Exercise 48: Create a variable speed and assign it the value of 100 kilometers per hour.

In [119]:
speed = 100  # kilometers per hour
speed

100

## Exercise 49: Assign a multi-variable equation like y = 3x + 5 where x = 4 to a variable y.

In [121]:
x = 4
y = 3 * x + 5
y

17

## Exercise 50: Use variables to calculate and store the average of three numbers.

In [123]:
num1 = 20
num2 = 25
num3 = 15
average = (num1 + num2 + num3) / 3
average

20.0